@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-tmt-prim: #57b4ba;
  --color-btn-color: #0065F8;
  --font-jost: "Jost", "sans-serif";
  --font-lato: "Lato", sans-serif;
}

@custom-variant hover (&:hover);